body {
    background-color: rgb(11, 15, 25);
    color: white;
}

/* titleTable */
.titleTable {
    width: 80%;
    margin: auto;
    color: red;
    text-align: center;
    font-size: 56px;
    box-shadow: 0px 0px 28px red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titleTable:hover {
    box-shadow: 0px 0px 28px rgb(79, 221, 247);
}

/* boxAdd */
.boxAdd {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 28px red;
}

.boxAdd:hover {
    box-shadow: 0px 0px 28px rgb(79, 221, 247);
}


/* inpAddName */
.inpAddName {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    font-size: 18px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inpAddphone {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* btnAdd */
.btnAdd {
    width: 100px;
    height: 35px;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* table */
.table {
    width: 98%;
    margin: auto;
    border: none;

}

table {
    border-collapse: collapse;

}

.name {
    border-top-left-radius: 20px;
}

.name1 {
    border: none;
    border-top-right-radius: 20px;
}

/* thed */
.thead {
    height: 50px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(45, 55, 72);
    border: none;

}

tr {
    background-color: rgb(45, 55, 72);
    border-bottom: 1px solid rgb(161, 161, 161);
    height: 60px;
    font-size: 16px;
    color: white;
}



/* btnDel */
.btnDel {
    width: 90px;
    height: 35px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.btnEdit {
    width: 90px;
    height: 35px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.inpEditName {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.inpEditAge {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.btnEditInto {
    width: 90px;
    height: 45px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnclose {
    width: 90px;
    height: 45px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* dialogEdit */
.cssedit {
    width: 80%;
    height: 150px;
    color: black;
background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
